h1{
    color: white;
    zoom: 300%;
    text-align: center;
}
p{
    color: azure;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card{
    border-color: white;
}
.card:hover{
    animation: pulse;
    animation-duration: 3s;
}
.card-text{
    text-align: left;
} 
.btn{
    background-color: transparent;
    border-color: wheat;
}
.btn:hover{
    background-color: wheat;
    color: black;
    border-color: wheat;
}